.abilities {
  padding: 5vw;
  font-family: "Oswald", sans-serif;
  max-width: 100%;
  margin: 0;
  color: white;
}

.abilities hr {
  border-color: #f7edf0;
  opacity: 0.1;
  width: 30vw;
  margin: 2vw auto 0;
}

.skills,
.tools {
  padding: 2vw;
}

.content_img {
  position: relative;
  float: left;
}

.logo img {
  height: 9rem;
  padding: 1rem;
}

.ide img {
  height: 8rem;
  padding: 1rem;
}

.logo:hover, .ide:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .logo img {
    height: 7rem;
  }

  .ide img {
    height: 6rem;
  }
}

.blockquote {
  padding: 4vw 0 3vw 0;
  margin-bottom: 0;
}
