.profile {
    color: white;
    padding: 3vw;
    font-family: 'Oswald', sans-serif;
}

.profile-heading p{
    margin-bottom: 2vw;
}

.profile hr {
    border-color: #f7edf0;
    opacity: 0.1;
    width: 30vw;
    margin: auto;
    margin-bottom: 3vw;
}

.code-icon {
    margin-bottom: -3px;
}

.profile-image img{
    vertical-align: middle;
  width: 35vw;
  height: 35vw;
}

.equal {
    display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}