.splash-page {
  width: 100vw;
  height: 100vh;
  font-weight: 700;
  /* background-color: rgb(9, 14, 23); */
}

.introductionText {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-30%,-50%);
  color: var(--primary);
}

.introductionText p {
  text-align: left;
  font-size: 3rem;
}

.splash-page .swipe-text {
  display: none;
  position: absolute;
  bottom: 1%;
  left: 90%;
  transform: translate(-90%, -90%);
  cursor: pointer;
  font-size: 12px;
  width: fit-content;
  color: white;
}

.swipe-text p {
  margin: 5px;
}

.down-arrow {
  margin-bottom: -2px;
}

.swipe-text:hover {
  color: var(--primary);
}

.name::after {
  content: '|';
  margin-left: 10px;
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 1s;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}